<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Issue Net</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>

<body>
    <nav class="header-nav">
        <a href="/" style="text-decoration: none;">
            <div class="logo-div">
                <p class="logo-text">ISSUE NET</p>
            </div>
        </a>
        <div class="nav-buttons">
            <div class="menu-item">
                <p>Dashboard</p>
            </div>
            <div class="menu-item">
                <p>Issues</p>
            </div>
            <div class="menu-item highlighted">
                <!-- style="padding-top: 0px; padding-bottom: 0px;" -->
                <p>Login</p>
            </div>
            <div class="menu-item highlighted">
                <p>Signup</p>
            </div>
        </div>
    </nav>

</body>

</html>