{% extends "header.html" %}

{% block title %}Signup - Issue Net{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
{% endblock css %}

{% block js %}
<script defer src="{{ url_for('static', filename='js/signup.js') }}" ></script>
{% endblock js %}

{% block main_classes %}signup-body{% endblock main_classes %}

{% block content %}

<div class="signup-card">
    <h2 class="signup-heading">Signup</h2>
    <form action="" class="signup-form">

        <input type="text" name="username" id="username" class="form-field form-element" placeholder="Username" required>
        <input type="email" name="email" id="email" class="form-field form-element" placeholder="Email" required>
        <input type="password" name="password" id="password" class="form-field form-element " placeholder="Password"
            required>
        <input type="password" name="confirm_password" id="confirm_password" class="form-field form-element "
            placeholder="Confirm Password" required>
        <button type="submit" class="form-element submit-button">Signup</button>

    </form>
    <a href="{{ url_for('login') }}" class="login-link">Already have an account? Login</a>
</div>

{% endblock content %}